:root {
  --warnaUtama: #facc16;
  --warnaBackground: #0d1117;
  --fontHeading: "Poppins", sans-serif;
  --fontBody: "Fjalla One", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Kesepakatan bersama */
.container {
  margin: 20px 25px;
}
