:root {
  --warnaUtama: #facc16;
  --warnaBackground: #0d1117;
  --navColor: #1C1E22;
  --fontBody: "Poppins", sans-serif;
  --fontHeading: "Fjalla One", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

/* Kesepakatan bersama */
.container {
  margin: 20px 25px;
}

body {
  background-color: var(--warnaBackground);
  display: flex;
  flex: 1;
  flex-direction: row;
}

header {
  width: 100px;
}

header > nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100vh;
  background-color: var(--navColor);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: var(--fontBody);
}

h2 {
  font-weight: normal;
  font-family: var(--fontHeading);
  font-size: 56px;
}

h3 {
  font-weight: normal;
  font-family: var(--fontHeading);
  font-size: 32px;
  margin-top: -12px;
}

p {
  font-family: var(--fontBody);
  font-size: 14px;
}

.contents {
  display: flex;
  flex-direction: row;
}

.content-right > img {
  width: 255px;
}

.content-left {
  max-width: 220px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-bergabung {
  width: 100px;
  height: 30px;
  border: 1px solid var(--warnaUtama);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-bergabung > span {
  font-family: var(--fontBody);
  font-size: 12px;
  font-weight: bold;
  color: var(--warnaUtama);
}

.btn-bergabung {
  cursor: pointer;
  background-color: transparent;
}

.btn-bergabung:hover {
  background-color: rgba(0, 0, 0, 0.5);
}


/* ini bagian halaman projects */
.section {
  height: 100vh;
}

/* ini bagian halaman projects */
